[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
	depth = 1
[submodule "third_party/zopfli"]
	path = third_party/zopfli
	url = https://github.com/google/zopfli.git
	depth = 1
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
	depth = 1
