[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
	depth = 1
[submodule "third_party/zopfli"]
	path = third_party/zopfli
	url = https://android.googlesource.com/platform/external/zopfli
	branch = mirror-goog-main-external
	depth = 1
[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
	depth = 1
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
	depth = 1
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	depth = 1
[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
	depth = 1
